*{
    background: rgb(66, 64, 64);
}
.container{
    display: flex;
    justify-content: center;
}
.container img{
   margin-top: 4rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 2rem;
    padding: 4.5rem;
}
.btn{
    line-height: 2rem;
    background-image: conic-gradient(rgb(227, 119, 189), rgb(91, 60, 91), rgb(87, 202, 214));
    border-radius: 50%;
    border: 4px solid rgb(63, 26, 81);
    border-radius: 20px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
}
